#logo {margin-left: 40px;margin-top: 9px;margin-bottom: 7px;float: left;}
#nav { height: 80px;background: url(../img/logo.png);border-bottom: 1px #979797 solid;}
#text {font-family: STHeitiSC-Medium;font-size: 24px;color: #4A4A4A;line-height: 80px;margin-left: 13px;}
a {text-decoration: none;display: block;}
ul li {list-style: none;}
#nav>ul>li>a {color: #FFF;font-weight: 900;font-size: 16px;color: #4A4A4A;text-align: left;}
.button {display: inline-block;background: #44ACFF;border: 1px solid #44ACFF;border-radius: .3em;outline: none;}
